/* body {
  display: flex;
} */
h1, h2, h3{
  text-align: center;
}

.image {
  display: flex;
  justify-content: center;
}

.sketch {
  width: 90vw;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

body {
  margin-left: 5%;
  margin-right: 5%;
}