#logoBar{
  width: 30vw;
  height: 100vh;
}
#siteLogo{
  width: 100%;
}
/* body {
  display: flex;
} */
h1, h2{
  text-align: center;
}
#staffGallery{
  width: 70vw;
  display: inherit;

}
.galleryImage{
  width: 100%;
  height: auto;
  height: 300px;
}
.image {
  display: flex;
  align-items: center;
  justify-content: center;
}