/* body {
  display: flex;
} */

.previousWeb {
  width: 90vw;
  display: flex;
  justify-content: center;
}

.sketch {
  width: 90vw;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

body {
  margin-left: 5%;
  margin-right: 5%;
}
h1, h2, h3{
  text-align: center;
}

.hi_fi {
  display: flex;
  justify-content: center;
  height: 70vh;
  border-radius: 20px;
}